{{>nav}}

<section class="container-fluid text-center my-5">
  <h1 class="text-success mt-3 h3"><b>Pesquisar Médicos e Especialidades</b></h1>
  <div class="m-auto d-flex my-5  justify-content-center ">
    <div class="input-group me-3 w-50">
      <input class="form-control border-success border-end-0" id="pesquisa"
        placeholder="Pesquise o nome de um médico ou especialidade" aria-label="Search" onkeyup="pesquisarMedico()">
      <span class="input-group-text border-success border-start-0 bg-light"><i
        class="bi bi-search text-success"></i></span>
    </div>
    <div>
      <a href="/cadastrarMedico" class="btn btn-success m-auto">Cadastrar Médico</a>
    </div>
  </div>

<div class="table-responsive">
  <table id='tabela' class="table text-sm border-success align-middle text-center table-hover">
    <thead class="bg-success align-middle text-light" >
      <th>Nome</th>
      <th>Especialidade</th>
      <th>CPF</th>
      <th>Celular</th>
      <th>E-mail</th>
      <th>Endereço</th>
      <th>CRM</th>
      <th>Salário</th>
      <th>Valor da Consulta</th>
      <th>Identificação</th>
      <th>Ações</th>
    </thead>
    {{!-- aqui começamos a criar o body da tabela --}}
    <tbody id="tbody">

      {{!-- //o #each é semelhando foreach que tínhamos no javascrit, ou seja, percorre um array elemento por elemento
      --}}
      {{#each resultado}}
      <tr>
        {{!-- estamos criando cada coluna com os atributos de cada elemento do array (um a um) --}}
        
        <td>{{nomeMedico}}</td>
        <td>{{especialidade.especialidade}}</td>
        <td>{{cpf}}</td>
        <td>{{celular}}</td>
        <td>{{email}}</td>
        <td>{{endereco}}</td>
        <td>{{crm}}</td>
        <td>{{salario}}</td>
        <td>{{precoConsulta}}</td>
        <td>{{_id}}</td>
        <td class=" ">

          <a href="/deletarMedico/{{_id}}"><i class="bi bi-trash text-danger fs-4 bg-image hover-overlay"></i></a>
          <a href="/editarMedico/{{_id}}"><i class="bi bi-pencil-fill text-success fs-4"></i></a>
          {{!-- atribuimos um link para o botão excluir --}}

        </td>

      </tr>
      {{!-- aqui fechamos o each --}}
      {{/each}}
    </tbody>
  </table>
  </div>
</section>